adf/pipeline/incremental_ingestion_with_backfiling.json
{
	"name": "incremental_ingestion_with_backfiling",
	"properties": {
		"activities": [
			{
				"name": "AzureSQL2Lake",
				"description": "Moving data from Azure SQL Dababase to Azure ADLS Gen 2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FetchLastUpDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FetchCurrentStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * \nfrom @{pipeline().parameters.schema}.@{pipeline().parameters.table}\nWhere @{pipeline().parameters.CDC_col} > \n'@{if(empty(pipeline().parameters.back_date),\nactivity('FetchLastUpDate').output.value[0].cdc,\npipeline().parameters.back_date)}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "azureSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "parquet_file",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze-end2end",
							"folder": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.table,'_',variables('current_timestamp'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "FetchLastUpDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "json_last_update",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze-end2end",
							"folder": {
								"value": "@{pipeline().parameters.table}_CDC",
								"type": "Expression"
							},
							"file": "last_updated.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FetchCurrentStamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_timestamp",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfNewData",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AzureSQL2Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('AzureSQL2Lake').output.dataRead, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DeleteTempFile",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "parquet_file",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze-end2end",
										"folder": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(pipeline().parameters.table,'_',variables('current_timestamp'))",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ModifyLastUpDate",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "FindMaxUpdate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('FindMaxUpdate').output.resultSets[0].rows[0].cdc",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "json_last_update",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze-end2end",
										"folder": {
											"value": "@{pipeline().parameters.table}_CDC",
											"type": "Expression"
										},
										"file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "json_last_update",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze-end2end",
										"folder": {
											"value": "@{pipeline().parameters.table}_CDC",
											"type": "Expression"
										},
										"file": "last_updated.json"
									}
								}
							]
						},
						{
							"name": "FindMaxUpdate",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "azure_end2end_con",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "Select MAX(@{pipeline().parameters.CDC_col}) as cdc\nfrom @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"CDC_col": {
				"type": "string"
			},
			"back_date": {
				"type": "string"
			}
		},
		"variables": {
			"current_timestamp": {
				"type": "String"
			}
		},
		"annotations": []
	}
}